@import "../../../../../_styles/reused/classes.module.scss";

.add_task_button__main {
    @extend .centered_content;

    width: 200px;
    height: 25px;
    background-color: green;
    position: absolute;
    z-index: 1;
    left: calc(100% - 200px);
}