@import "../../../../_styles/reused/colors.module.scss";

.page_title_main {
   width: auto;
   padding: 10px;
   margin: 10px auto;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   display: inline-flex;
   align-items: center;
   justify-content: space-around;
   font-size: 35px;
   color: $primary_blue;

   @media screen and (max-width: 760px) {
      left: 5px;
       transform: unset;

   }
}

.page_title__text {
   margin-left: 10px;
   font-size: 28px;
   color: $primary_green;
}
