@import "../../../../../../_styles/reused/colors.module.scss";

.modal_buttons__main {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal_buttons__button {
    height: 40px;
    margin: 0px 5px;
    color: $primary_blue;
    border: 2px solid $primary_yellow !important;
}