@import "./reused/classes.module.scss";
@import "./reused/colors.module.scss";
@import "./reused/sizes.module.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgba($primary_grey, 0.1);
}